@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: 'editorialNew';
  src: url('/fonts/editorial-new/PPEditorialNew-Ultrabold-BF644b21500840c.otf') format('otf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Playball';
  src: url('/fonts/playball/Lobster-Regular.ttf') format('truetype');
  font-style: normal;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: #424242;
  border-radius: calc(var(--radius) - 2px);
}

::-webkit-scrollbar-thumb {
  background: #969696;
  border-radius: calc(var(--radius) - 2px);
}

::selection {
  background: #3f3f47ac;
  color: white;
}

.font-editorialNew {
  font-family: 'editorialNew';
  font-style: italic;
  letter-spacing: -1px;
}

.font-playball {
  font-family: 'playball';
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}